/*--- ELEMENT SELECTORS ---*/



center{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgb(193, 192, 192);
}

img{
    border-radius: 30px;
    border-style: groove;
    margin: 30px;
    border-width: 15px;
}

h1{
    text-align: center;
    color: orangered;
    text-shadow: 2px 2px 5px silver;
}

section{
    text-align: center;
    color: white;
}

table{
    text-align: center;
}

form{
    text-align: center;
    color: black;
}

footer{
    text-align: right;
    color: lightgray;
}




/*--- Class and ID ---*/

.caption-table{
    margin: 30px;
    padding: 20px;
    text-align: center;
    background-color: indigo;
    border-style: solid;
    border-width: 3px;
}

.every-even li:nth-child(even){
    background-color: maroon;
    border-radius: 50px;
    font-size: large;

}    

#img-header-h4{
    margin: auto;
}

#section-caption{
    font: bolder;
    color: indigo;
    text-align: center;
}

#unorder-list{
    filter: drop-shadow(2px 2px 1px indigo);
    font-style: italic;
}


